## Preprocessing

In [1]:
import pandas as pd
import matplotlib as plt
import os

In [2]:
df = pd.read_csv('tweets.csv')
df[df['text'].notna()]
df.head()

,tweet_id,text,query,user_id,user_name,follower_count,user_tweet_count,likes,retweets,location_name,latitude,longitude,user_location,date
0,1346863072435179520,we can adjust by population to get crude exces...,death rates,1101487206840057856,nick stripe,12936,1577,255,108,NaN,NaN,NaN,NaN,2021-01-06
1,1346817043232919555,turning to labour or remainers like what would...,death rates,234694571,femi,290982,75187,877,116,NaN,NaN,NaN,NaN,2021-01-06
2,1346862193451692034,numbers of deaths are affected by population s...,death rates,1101487206840057856,nick stripe,12936,1577,213,75,NaN,NaN,NaN,NaN,2021-01-06
3,1346969461190848516,here is a list of governors who preside over s...,death rates,1346952467003568129,NaN,2,120,0,7612,NaN,NaN,NaN,NaN,2021-01-06
4,1346969317569687554,convince me with facts on death rates and infe...,death rates,885891622919184384,NaN,11552,36252,2,0,NaN,NaN,NaN,NaN,2021-01-06

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82309 entries, 0 to 82308
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tweet_id          82309 non-null  int64
 1   text              82308 non-null  object
 2   query             82309 non-null  object
 3   user_id           82309 non-null  int64
 4   user_name         2478 non-null   object
 5   follower_count    82309 non-null  int64
 6   user_tweet_count  82309 non-null  int64
 7   likes             82309 non-null  int64
 8   retweets          82309 non-null  int64
 9   location_name     285 non-null    object
 10  latitude          285 non-null    float64
 11  longitude         285 non-null    float64
 12  user_location     15890 non-null  object
 13  date              82309 non-null  object
dtypes: float64(2), int64(6), object(6)
memory usage: 8.8+ MB

In [4]:
df.describe()

,tweet_id,user_id,follower_count,user_tweet_count,likes,retweets,latitude,longitude
count,8.230900e+04,8.230900e+04,8.230900e+04,8.230900e+04,8.230900e+04,82309.000000,285.000000,285.000000
mean,1.346829e+18,4.594458e+17,1.476278e+04,4.478396e+04,4.321026e+01,2644.534000,-91.077280,36.910159
std,4.498331e+13,5.557702e+17,3.725736e+05,1.040944e+05,4.790861e+03,8192.867257,16.129728,5.563611
min,1.346748e+18,1.585000e+03,0.000000e+00,1.000000e+00,0.000000e+00,0.000000,-179.231086,13.182335
25%,1.346797e+18,2.847849e+08,1.200000e+02,2.932000e+03,0.000000e+00,0.000000,-96.977527,33.615765
50%,1.346819e+18,2.745198e+09,4.310000e+02,1.206800e+04,0.000000e+00,24.000000,-85.649602,38.237077
75%,1.346854e+18,1.069913e+18,1.539000e+03,4.190000e+04,0.000000e+00,740.000000,-79.762590,40.800683
max,1.346970e+18,1.346952e+18,5.208582e+07,5.444440e+06,1.070310e+06,795857.000000,-71.191421,47.733761

In [5]:
# Specify the columns to consider for distinct rows
distinct_columns = ['tweet_id']
# Get distinct rows based on the specified columns
df = df.drop_duplicates(subset=distinct_columns)
df.shape

(82035, 14)

In [6]:
# Specify the columns to drop
columns_to_drop = ['user_name', 'location_name', 'latitude','longitude']

# Drop the specified columns
df = df.drop(columns=columns_to_drop)
df

,tweet_id,text,query,user_id,follower_count,user_tweet_count,likes,retweets,user_location,date
0,1346863072435179520,we can adjust by population to get crude exces...,death rates,1101487206840057856,12936,1577,255,108,NaN,2021-01-06
1,1346817043232919555,turning to labour or remainers like what would...,death rates,234694571,290982,75187,877,116,NaN,2021-01-06
2,1346862193451692034,numbers of deaths are affected by population s...,death rates,1101487206840057856,12936,1577,213,75,NaN,2021-01-06
3,1346969461190848516,here is a list of governors who preside over s...,death rates,1346952467003568129,2,120,0,7612,NaN,2021-01-06
4,1346969317569687554,convince me with facts on death rates and infe...,death rates,885891622919184384,11552,36252,2,0,NaN,2021-01-06
...,...,...,...,...,...,...,...,...,...,...
82304,1346815324948086787,chocolate oda thaan suthuvvar polaby the way w...,mask,3161455290,79,1967,2,0,NaN,2021-01-06
82305,1346815315309699072,this could be us but yall dont wanna go on loc...,mask,1425740186,647,127146,0,6589,NaN,2021-01-06
82306,1346815315234185221,covid 19 grey black dust mask activated antipo...,mask,1076044678116638720,459,52536,0,0,NaN,2021-01-06
82307,1346815313204154368,imagine if the energy people put into complain...,mask,23077071,3272,8391,20,4,MN,2021-01-06
82308,1346815309173424130,dear georgians tomorrow is the day that you ca...,mask,1118624215299710976,9217,7856,0,45,KY,2021-01-06

In [7]:
df['text'].nunique()

39078

In [8]:
trump_data = df[df['text'].str.contains("trump", case=False,na=False)]
trump_data.shape

(3160, 10)

In [9]:
trump_data.drop_duplicates(['text'],inplace=True)
trump_data.shape

C:\Users\saada\AppData\Local\Temp/ipykernel_4892/3509012828.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trump_data.drop_duplicates(['text'],inplace=True)

(1375, 10)

In [10]:
biden_data = df[df['text'].str.contains("biden", case=False,na=False)]
biden_data.shape

(1237, 10)

In [11]:
biden_data.drop_duplicates(['text'],inplace=True)
biden_data.shape

C:\Users\saada\AppData\Local\Temp/ipykernel_4892/1995241980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  biden_data.drop_duplicates(['text'],inplace=True)

(410, 10)

In [12]:
both_data = df[(df['text'].str.contains("biden", case=False,na=False)) & (df['text'].str.contains("trump", case=False,na=False))]
both_data.shape

(249, 10)

In [13]:
both_data.drop_duplicates(['text'],inplace=True)
both_data.shape

C:\Users\saada\AppData\Local\Temp/ipykernel_4892/1529837486.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  both_data.drop_duplicates(['text'],inplace=True)

(145, 10)

In [14]:
trump_data.to_csv('trump.csv')
biden_data.to_csv('biden.csv')
both_data.to_csv('both.csv')